<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Limble</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  </head>

  <body ng-app="commentApp" ng-controller="commentController">
    <section>
      <h2>Comments:</h2>
      <div class="comments" ng-repeat="x in comments">
        <p>{{x.message}}</p>
        <p>system - {{x.timestamp}}</p>
      </div>
    </section>
    <section>
      <button class="add-comment" ng-click="toggleCommentForm()" ng-show="!addComment">Add Comment</button>
    </section>
    <section ng-show="addComment">
      <ul id="usersList" class="users-list" ng-show="showUserSelection">
        <li ng-repeat="y in users" ng-click="tagUser(y)">{{y.name}}</li>
      </ul>
      <textarea id="newComment" ng-model="newMessage" wrap="soft"></textarea>
      <div>
        <button class="add-comment" ng-click="submit(newMessage)" ng-show="addComment">Submit Comment</button>
        <button class="cancel" ng-click="toggleCommentForm()" ng-show="addComment">Cancel</button>
      </div>
    </section>

    <script src="js/app.js"></script>
    <script src="js/commentController.js"></script>
  </body>

</html>