h2 {
  font-size: 1.2em;
  margin: 0;
}

section {
  width: 95%;
  max-width: 900px;
  margin: auto;
  position: relative;
}

.comments {
  display: flex;
  justify-content: space-between;
}

#newComment {
  width: 100%;
  margin: auto;
  height: 200px;
  resize: none;
}

.users-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  background-color: white;
  min-width: 200px;
  padding: 0;
  cursor: pointer;
}

.users-list li {
  list-style-type: none;
  padding: 10px 20px;
}

.users-list li:hover {
  background-color: lightskyblue;
}